@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300&display=swap');

html{
    font-family: 'Hind', sans-serif;
    background: url(/tema10/images/background.jpg) no-repeat center center fixed;
    background-size: cover;
}

.background {
    background: url(/tema10/images/background.jpg) no-repeat center center fixed;
    background-size: cover;
}

.bg01d, .bg01n {
    background: url(/tema10/images/clearSky.jpg) no-repeat center center fixed;
    background-size: cover;
}
.bg02d, .bg02n {
    background: url(/tema10/images/fewClouds.jpg) no-repeat center center fixed;
    background-size: cover;
}
.bg03d, .bg03n {
    background: url(/tema10/images/scatteredClouds.jpg) no-repeat center center fixed;
    background-size: cover;
}
.bg04d, .bg04n {
    background: url(/tema10/images/brokenClouds.jpg) no-repeat center center fixed;
    background-size: cover;
}
.bg09d, .bg09n {
    background: url(/tema10/images/showerRain.jpg) no-repeat center center fixed;
    background-size: cover;
}
.bg10d, .bg10n {
    background: url(/tema10/images/rain.jpg) no-repeat center center fixed;
    background-size: cover;
}
.bg11d, .bg11n {
    background: url(/tema10/images/thunderstorm.jpg) no-repeat center center fixed;
    background-size: cover;
}
.bg13d, .bg13n {
    background: url(/tema10/images/snow.jpg) no-repeat center center fixed;
    background-size: cover;
}
.bg50d, .bg50n {
    background: url(/tema10/images/mist.jpg) no-repeat center center fixed;
    background-size: cover;
}

iframe {
    height:  320px;
    margin: 1.5em;
}

h1{
    margin: 0px;
}

button, input {
    font-family: 'Hind', sans-serif;
}

input {
    height: 2em;
    border-radius: 0.9em;
    background-color: #f6feff1c;
    border: 1px solid rgb(43, 42, 42);
}

button{
    margin: 0.5em;
    border-radius: 0.9em;
    background-color: #f6feff1c;
    border: 1px solid rgb(43, 42, 42);
}

button:hover{
    box-shadow: 1px 5px 5px 5px rgb(0 0 0 / 60%);
    transition: 1s;
    cursor: pointer;
}

.weatherNow{
    display: flex;
    flex-direction: row;
    justify-content: center;  
}

.weatherNow {
    margin: 0 auto;
    margin-top: 2em;
    border: 1px solid;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 5px 10px 5px 10px rgb(0 0 0 / 60%);
    /* background-color: aliceblue; */
    backdrop-filter: blur(5px);
    max-width: fit-content;
    min-width: fit-content;
}

.weatherForecast{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 80em;
    min-width: fit-content;
    margin: 0 auto;
    margin-top: 2em;
}

h3 {
    text-align: center;
}

#now {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.searchBar {
    margin: 0 auto;
    border: 1px solid;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 5px 10px 5px 10px rgb(0 0 0 / 60%);
    /* background-color: aliceblue; */
    backdrop-filter: blur(5px);
    max-width: fit-content;
    min-width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.searchBar > span {
    color: red;
}

.city{
    display: flex;
    justify-content: center;
    font-size: 1.2em;
}

.city > img {
    max-width: 2em;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.main > img {
    min-width: 4em;
}

.main > span {
    font-size: 3em;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
}

.forecastDay{
    border: 1px solid;
    border-radius: 20px;
    box-shadow: 5px 10px 5px 10px rgb(0 0 0 / 60%);
    backdrop-filter: blur(5px);
    min-width: fit-content;
}


#now, .forecastInfo > div {
    display: flex;
    flex-direction: column;
}

.forecastInfo {
    max-width: 12em;
    min-width: fit-content;
    max-height: fit-content;
}

.forecastInfo > div {
    margin: 0.5em 1em;
}

.forecastInfo > div > img {
    max-width: 4em;
    margin: 0 auto;
}

.hidden {
    display: none !important;
}

.errorMsg {
    color: red;
    margin: 0 auto;
    margin-top: 10em;
    border: 1px solid;
    border-radius: 20px;
    padding: 50px;
    box-shadow: 5px 10px 5px 10px rgb(0 0 0 / 60%);
    backdrop-filter: blur(5px);
    max-width: fit-content;
    min-width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error {
    border-color: red;
    background-color:rgba(255, 0, 0, 0.347);
}


